.editor {
  padding: 2rem;
  justify-content: flex-start;
  .st-block-controls__top {
    display: none;
  }
  .st-block::after{
    display: none;
  }
  .st-block__inner {
    padding: 0;
    border: 0;
    .st-text-block {
      padding: 0;
    }
  }
}
