@font-face {
    font-family: "fontName";
    src: url("assets/fonts/fontName.ttf");
}
@font-face {
    font-family: "fontName";
    src: url("assets/fonts/fontName.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: "fontName";
    src: url("assets/fonts/fontName.ttf");
    font-style: bold
}
@font-face {
    font-family: "fontName";
    src: url("assets/fonts/fontName.ttf");
    font-weight: bolder
}
